@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
</section>


<!-- Nội dung trang -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class=" cl2 p-b-16">
                        Câu Chuyện Của Chúng Tôi
                    </h3>

                    <p class=" cl6 p-b-26">
                        Chúng tôi bắt đầu hành trình này với niềm đam mê và mong muốn mang đến những sản phẩm tốt nhất cho khách hàng. Từ những ngày đầu, chúng tôi đã không ngừng nỗ lực để cải tiến và sáng tạo. Với tâm huyết và sự cống hiến, chúng tôi đã xây dựng một cộng đồng yêu thích sản phẩm của chúng tôi.
                    </p>

                    <p class=" cl6 p-b-26">
                        Chúng tôi tin rằng mỗi sản phẩm đều có câu chuyện riêng. Đó là những khoảnh khắc, những cảm xúc và những kỷ niệm mà chúng tôi muốn chia sẻ với bạn. Sản phẩm của chúng tôi không chỉ đơn thuần là hàng hóa, mà còn là những trải nghiệm đáng nhớ mà bạn sẽ mang theo suốt cuộc đời.
                    </p>

                   
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="cl2 p-b-16">
                        Sứ Mệnh Của Chúng Tôi
                    </h3>

                    <p class="cl6 p-b-26">
                        Chúng tôi cam kết mang đến những sản phẩm chất lượng cao và dịch vụ tận tâm. Với mục tiêu không ngừng phát triển, chúng tôi luôn tìm kiếm những cách mới để phục vụ khách hàng tốt nhất. Chúng tôi tin rằng sự hài lòng của khách hàng là thành công lớn nhất của chúng tôi.
                    </p>

                    <div class=" p-l-29 p-b-9 m-t-22">
                        <p class=" cl6 p-r-40 p-b-11">
                            Sáng tạo là kết nối những điều tưởng chừng như không liên quan. Khi bạn hỏi những người sáng tạo về cách họ làm điều gì đó, họ thường cảm thấy hơi có lỗi vì họ không thực sự làm điều đó, họ chỉ nhìn thấy một điều gì đó. Sau một thời gian, điều đó trở nên hiển nhiên với họ.
                        </p>

                        <span class=" cl8">
                            - Steve Jobs
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
